In [40]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [41]:
# Create a connection to the SQLite database 
con = sqlite3.connect('Titanic.sqlite')

In [42]:
# Read the merged and cleaned csv file created during processing
pd.read_csv('Resources/Titanic_full_data.csv').to_sql('Titanic_Full',con, if_exists='replace')

1307

In [43]:
# Create a SQL query and connect with the database
query = "SELECT * FROM Titanic_Full LIMIT 5"
Titanic_query = pd.read_sql(query,con)

In [44]:
# Display the query as a database
Titanic_query

,index,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,num_related,has_related,has_special_ticket
0,0,0,0,3,male,NaN,0,0,7.8875,S,0,0,0
1,1,1,1,3,female,16.0,0,0,7.7500,Q,0,0,0
2,2,2,1,1,female,59.0,2,0,51.4792,S,2,1,0
3,3,3,0,1,male,55.0,1,0,59.4000,C,1,1,1
4,4,4,0,1,male,36.0,1,0,78.8500,S,1,1,0

In [45]:
# Close the connection
con.close()